html,
body,
#app {
  font-family: Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  padding: 10px;
}